<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>faf</title>
</head>
<body>

<div class="container">
    <button type="button" id='notification' class="btn btn-primary">
        Notifications <span id='notification-badge' class="badge badge-light">0</span>
    </button>
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; top: 0; right: 0;" >
      
          <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Bootstrap</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="toast-body">
                See? Just like this.
                </div>
            </div>
      
            
        </div>
    </div>
</div>
{{ user.id }}
{{ group_name }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        var user_id = {{ user.id }};
        var user_group  = {{ group_name }}
        var groups = [];
        console.log(user_group)
        console.log(window.location.host)
            document.addEventListener('DOMContentLoaded', function () {
                var token = '58387fbd54b5d53e4b8928ee86f63d312335c61c169ac9139118556c2f5d5a07ad5875596d00840306f085a7b3bd8173e4a55b964d7946a68ab559696d5f1241'
                
                var chatSocket = new WebSocket(
                    'ws://' + window.location.host +
                    `/ws/notify/${user_id}/`);
                
                chatSocket.onopen = function(e) {
                    console.log('opened')
                }
                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                };

                chatSocket.onmessage =  function(e) {
                    const data =  JSON.parse(e.data);
                    console.log(data)
                    console.log(data.instance)
                    console.log($('#notification-badge').val)
                    var not = document.querySelector('#notification-badge');
                    console.log(not)
                    not.innerHTML = data.event
                    
                };
            })


        $('#notification').click(function() {
            $('.toast').toast('show');
        })
        </script>
</body>
</html>